<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sign Up</title>
  <link rel="stylesheet" href="/signUp.css">
</head>
<body>
<h1>Sign up</h1>
<form id="registrationForm" action="/user/register" method="post"> <!-- Added an id to the form for the script to target -->

  <label for="firstName" class="required">First name :</label> <br/>
  <input type="text" id="firstName" name="firstName" required/> <br/>

  <label for="lastName" class="required">Last name :</label> <br/>
  <input type="text" id="lastName" name="lastName" required/> <br/>

  <label for="username" class="required">User name :</label> <br/>
  <input type="text" id="username" name="username" required/> <br/>

  <label for="email" class="required">Email :</label> <br/>
  <input type="email" id="email" name="email" required/> <br/>

  <label for="password" class="required">Password :</label> <br/>
  <input type="password" id="password" name="password" required/> <br/>

  <br/>
  <button type="submit">Submit</button>
</form>
<br/>

<script src="/signUp.js"></script>


</body>
</html>
